html {
    overflow-x: hidden;
}
h1 {
    font-family: Cambria; 
}
h2 {
    font-family: Cambria;
}
h3 {
    font-family: Cambria;
}
h4 {
    font-family: Cambria;
    color: grey;
}
h5 {
    font-family: Cambria;
}
.flexdisplay {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Верхнее меню */
.header {
    width: fit-content;
    height: fit-content;
    display: flex;
}
.header-logo {
    width: 50%;
    height: 90%;
    margin-left: 20%;
}
.header-menu {
    width: 80%;
    margin-left: 20%;
    margin-top: 2%;
    position: absolute;
}
.header-menu-links {
    font-family: Cambria;
    margin-left: 4%;
    font-size: 120%;
    position: relative;
    text-decoration: none;
    color: black;
}
.header-menu-links::after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 10%;
    width: 0;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.header-menu-links:hover::after { 
    width: 100%; 
    left: 0; 
}
/* Бургер-меню */
#burger, [for=burger] {
    display: none;
}
@media screen and (max-width: 1300px) {
    .header-menu {
        display: none;
        position: fixed;
        top: 0;
        margin-top: 30px;
        background: #E6E7E7;
        opacity: 0.8;
        width: 80%;
        user-select: none;
    }       
    [for=burger] {
        display: block;
        position: fixed;
        width: 10vw;
        text-align: center;
        right: 20px;
        top: 10px;
    }
    [for=burger]::before {
        content: '☰';
        font-size: 20pt;
    }
    .header-menu-links {
        display: flex;
        flex-direction: column;
        font-size: 20pt;
    }
    #burger:checked + label + nav{
        display: block;
    }
    .header-menu-links::after { 
        background: none;
    }
}
.line-bc {
    margin-top: 1.5%;
    width: 80%;
    height: 0.5vh;
    margin-left: 10%;
    border-top: 1px solid white;
}
.elem {
    display:block;
    text-align:center;
    position:relative;
}
.mid-elem {
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    text-align: center;
    position: relative;
}
.elem .text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1%);
    transition: 0.5s;
    width: 96%;
    height: 91%;
    font-size: 18pt;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    color: #fff;
    text-align: center;
}
.elem:hover .text {
    opacity: 1;
}
.mid-elem .text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1%);
    transition: 0.5s;
    width: 96%;
    height: 91%;
    font-size: 18pt;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    color: #fff;
    text-align: center;
}
.mid-elem:hover .text {
    opacity: 1;
}
.line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 15vh;
}
.footer-blocks {
    margin-left: 7%;
}
.footer-blocks-text {
    color: #8685EF;
}